@import "tailwindcss";

:root {
  --background: #F6F6F6;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #F6F6F6 !important;
  color: var(--foreground);
  font-family: "Onest", sans-serif;
}
